*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* ------------------- */
/*  variables */
/* ------------------- */

:root{
    /* COLORS */

/* Background-colors */
--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

/* Heading,paragraph,button */
--transparent-white: hsla(0, 0%, 100%, 0.7);
--very-light-gray: hsl(0, 0%, 95%);

/* TYPOGRAPHY */

/* Font family */
--ff-Big: 'Big Shoulders Display', cursive;
--ff-Lexend: 'Lexend Deca', sans-serif;

/* Font weights */
--fw-400:400;
--fw-700:700;
}





/* Utility classes */
    /* COLORS */

/* Background-colors */
.bright-orange  {background-color:var(--bright-orange);}
.dark-cyan      {background-color:var(--dark-cyan);}
.very-dark-cyan {background-color:var(--very-dark-cyan);}

/* Heading,paragraph,button */
/* Paragraph */
.trans-white        {color:var(--transparent-white);}
/* Headings,button,big background */
.very-light-grey    {color:var(--very-light-gray);}

/* TYPOGRAPHY */

/* Font family */
.font-big-shoulders  {font-family:var(--ff-Big);}
.font-lexend         {font-family:var(--ff-Lexend);}

/* Font size */
.font-small {font-size:1.5rem;}
.font-big   {font-size:3rem;}

/* Font weight */
.ff-400 {font-weight:var(--fw-400);}
.ff-700 {font-weight:var(--fw-700);}




body{
    height:100auto;
    padding:2rem;
    display:flex;
    justify-content:center;
    align-items: center;
}
h2{
    text-transform: uppercase;
}
button{
    background-color:hsl(0 0% 100%);
    border:none;
    padding:16px 32px;
    text-align:center;
    border-radius:26px;
    font-size:1rem;
    font-weight:(var(--fw-700));
    font-family:var(--ff-Lexend);
    height:3.5rem;
    width:10rem;
    margin:3rem 4rem 0rem 0rem;
    cursor:pointer;
}
.container{
    display:grid;
    grid-template-rows:repeat(3,70vh);
    border-radius:10px;
    overflow:hidden;
}
.card{
    display:grid;
    grid-template-rows:repeat(4,1fr);
    padding:3rem 3rem 3.5rem 3rem;
    line-height:1.5;
}


@media(min-width:600px) and (max-width:1000px){
    body{
        height:auto;
        padding-inline:30%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    h2{
        text-transform: uppercase;
    }
    button{
        background-color:hsl(0 0% 100%);
        border:none;
        padding:16px 32px;
        text-align:center;
        border-radius:26px;
        font-size:1rem;
        font-weight:(var(--fw-700));
        font-family:var(--ff-Lexend);
        height:3.5rem;
        width:10rem;
        margin:3rem 4rem 0rem 0rem;
        cursor:pointer;
    }
    .container{
        display:grid;
        grid-template-rows:repeat(3,70vh);
        border-radius:10px;
        overflow:hidden;
        width:70vw;
    }
    .card{
        display:grid;
        grid-template-rows:repeat(4,1fr);
        padding:3rem 3rem 3.5rem 3rem;
        line-height:1.5;
       
    }
} 


@media(min-width:1000px){
    body{
        height:100vh;
        padding:5rem;
        display:flex;
        justify-content:center;
        align-items:center;
        
    }
    button{
        background-color:hsl(0 0% 100%);
        border:none;
        padding:14px 10px;
        border-radius:26px;
        font-size:0.67rem;
        font-weight:(var(--fw-700));
        font-family:var(--ff-Lexend);
        height:2.2rem;
        width:6.9rem;
        margin-top:auto;
        cursor:pointer;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .container{
        display:flex;
        height:62vh;
        width:52vw;
        border-radius:3px; 
        overflow:hidden; 

    }
    .card{
        display:flex;
        flex-direction:column;
        padding:2rem 1.5rem 2.5rem 2.5rem;
        
    }
    .card h2{
        font-size:30px;
        margin-top:10px;
        margin-bottom:15px;
    }
    .card p{
        padding-right:30px;
        line-height:1.7;
        font-size:11px;

    }
    img{
        height:30px;
        width:45px;
        margin-bottom:20px;
    }
    
}

